/* 
    Building Blocks

    selector {
       {Declaration Block}
       property: value;
    }

    3 ways to target:
    element, class (dot before), and id (hashtag before)

    Order of "Final Response" Hierarchy
    -!important
    -inline css 
        -css property in html (node, ex: "style")
    -id selectors
    -class selectors
    -element
*/



/* Targeting an Id */

/* only use ids for specific element
    ex: Home will look different from the other hrefs */

    #home {
        float: left;
        color: red !important;
        /* !important will take on the "last call" for all listed !important 
        ex: color: red !important;
            color: green !important;
            (element would be green) */
    }
    

/* Targeting an Element */

nav {
    background-color: #1b9ba7;
    
    /* preset colors:
    red, blue, yellow, ect
    - rgb + rgba (red, green, blue, alpha)
        - alpha determines transparency
        ex: rgba(200, 15, 100, .5);
    -Hexidecimal
        -16 digits: 0-9, A-F
        ex: #d2d2d2 
    */
    overflow: hidden;
}

/* Targeting a Class */

.btn {
    float: right;
    color: black;
    text-align: center;
    /* width: 85px;
       padding-top: 14px;
       */
    padding: 14px 16px;
    /* top right bottom left order for padding 
    one value=equal padding size
    two values=top/bottom + left/right
    */
    text-decoration: none;
    font-size: 17px;
}


/* Compound Operators:
    > Refers to direct children of an element
    , Matching selecto
    + Immediate sibling of an element
    ~ Subsequent sibling of an element
*/

nav .btn {
    /* Points to the nav and any class within it, or children of, named "btn" */
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div .paragraph > p{
    /* targeting any div with a class "paragraph" that is holding a <p> element */
    color: red;
}

.paragraph + div {
    color: purple;
}

a:hover {
    color: lightblue;
    /* mousing over any anchor tag will alter its color
    -"home" doesnt change due to !important */
}

a:active {
    color: purple;
    text-shadow: 2px 2px 2px rgb(255, 255,255);
    /* COPY A BLOCK OF CODE IN VSCODE
    alt+shift+DownArrow/UpArrow
    
    MOVE A BLOCK OF CODE
    alt+DownArrow/UpArrow */
}

/* */



